*.m~
*zonetrack.mat
diary
*.DS_Store
*.fig
!Statescript/*.fig
!GoalmazeControlLayout.fig
*.mat
*.avi
*.png
*.asv
SFN_DataScience*
*.pyc
*.pyc
*.stateScriptLog
*/core.*
Local/Current/Coherence/Code_*
*_(*)
*.gif
/ry_Utility
/ry_LFP
/ry_Spike
/ry_Behavior
!*/ry_Utility
!*/ry_LFP
!*/ry_Spike
!*/ry_Behavior
*.swp
*.swo
*.swn
Statescript/Code_*.m
Statescript/Data/Code_*.m
*.fig
!/Statescript/*.fig
*Graph*.fig
/Statescript/Data/*
tmp*
*.vim
dask-worker_space
dask-worker-space/
